.home-container {
    margin-bottom: 40px;
}

.home-container .category{
    margin: 30px;
    font-size: 1.2rem;
}

.home-container .products {
    display: flex;
    flex-flow: row wrap;
    margin-left: 20px;
    /* justify-content: center; */
}

a {
    text-decoration: none;
    color: #000;
}