.home-container {
    margin-bottom: 40px;
}

.home-container .category{
    margin: 30px;
    font-size: 1.2rem;
}

.home-container .products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #000;
}