.cart-container {
    height: calc(100vh - 125px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.cart-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 70%;
    margin-bottom: 10px;
    border: 1px solid rgb(169, 162, 162);
    padding: 10px;
    box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.check-box {
    cursor: pointer;
}

.cart-detail-check {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 70%;
    margin-bottom: 10px;
    border: 1px solid rgb(36, 240, 255);
    padding: 10px;
    box-shadow: 2px 2px 3px 3px rgba(6, 240, 21, 0.5);
    border-radius: 5px;
}

.cart-image {
    width: 170px;
}

.cart-title, 
.cart-price-per-item, 
.cart-quantity, 
.cart-totlePrice{
    width: 130px;
}

.cart-image img {
    max-height: 100px;
    max-width: 120px;
}

.cart-title {
    max-height: 110px;
    text-align: start;
    justify-content: center;
    overflow: hidden;
}

.cart-totlePrice h4{
    color: rgb(192, 36, 36);
}

.bin {
    font-size: 1.4rem;
    cursor: pointer;
}

.empty-cart{
    display: flex;
    height: calc(100vh - 125px);
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.go-shop{
    margin-top: 50px;
    color: #ffffff;
    background-color: rgb(169, 162, 162);
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.go-shop:hover{
    background-color: rgb(99, 94, 94);
}

@media screen and (max-width: 780px) {
    .cart-detail,
    .cart-detail-check {
        height: 100px;
        width: 85%;
        font-size: 0.9rem;
    }

    .cart-image img {
        height: auto;
        max-width: 100px;
    }
}

@media screen and (max-width: 480px) {
    .cart-detail,
    .cart-detail-check {
        height: 100px;
        width: 95%;
        font-size: 0.6rem;
    }

    .cart-image img {
        height: auto;
        max-width: 70px;
    }
}