.detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 70%;
    margin-bottom: 10px;
    border: 1px solid rgb(169, 162, 162);
    background-color: rgb(236, 228, 220);
    padding: 10px;
    box-shadow: 5px 5px 6px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 1rem;
}

.blank {
    width: 220px;
}

.clear-btn {
    cursor: pointer;
    color: rgb(243, 42, 42);
}

@media screen and (max-width: 780px) {
    .detail {
        height: 50px;
        width: 85%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .detail {
        height: 50px;
        width: 95%;
        font-size: 0.7rem;
    }
}